{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="d-grid gap-2 p-4 text-center">
        <h1 class="mb-4">About Trivia Quest</h1>

        <section id="overview">
            <h2>Overview</h2>
            <p>Trivia Quest is a web application that offers a fun and engaging way to test your knowledge in various topics. Whether you're interested in science, history, or pop culture, Trivia Quest provides a wide range of trivia questions to challenge and entertain you.</p>
        </section>

        <section id="team" class="mt-4">
            <h2>Founder & Developer</h2>
            <strong>Nukman Mukrami</strong>
            
        </section>
        <section id="contact" class="mt-4">
            <h2>Contact</h2>
            <p>Have questions or suggestions? We'd love to hear from you!</p>
            <p>Email: nukman.mukrami3@gmail.com</p>
        </section>

    </div>
{% endblock %}
