{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('main.result') }}" method="post">
    {% for question in questions %}
        <div class="question">
            <p>{{ loop.index }}) {{ question.question|safe }}</p>
            {% set options = question.incorrect_answers + [question.correct_answer] %}
            {% set options = options | shuffle %}
            {% for option in options %}
                <label>
                    <input type="radio" name="answer_{{ loop.index0 }}" value="{{ option }}" required> {{ option|safe }}
                </label><br>
            {% endfor %}
            <input type="hidden" name="question" value="{{ question.question|safe }}">
            <input type="hidden" name="correct_answer" value="{{ question.correct_answer|safe }}">
        </div>
    {% endfor %}
    <button type="submit">Submit Answers</button>
</form>
{% endblock %}
